#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-image: url('assets/adera.svg'); */
}

.logo {
  /* height: 6em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Logo Glitch  */

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  padding: 1rem;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 5rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1.5s ease infinite 1.5s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 rgb(76, 2, 99), 2px -3px 0 blue;
  }

  ;

  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }

  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 rgb(59, 5, 109), -2px 3px 0 blue;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 rgb(88, 5, 124), 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }

  2% {
    text-shadow: 2px -3px 0 rgb(164, 15, 227), -2px 3px 0 blue;
  }

  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/* Graph */
.chart {
  height: 50%;
}
@media screen and (max-width: 768px) {
  .responsive-chart {
    width: 100%;
    flex-direction: column;
  }
}

/* Socials */

ul {
  position: relative;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
}

ul li a .fa-brands {
  font-family: "FontAwesome";
  font-size: 2em;
  color: #928e8e;
}

ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg,
      #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
      #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}

/* ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25D366;
  border-bottom: 4px solid #25D366;
} */

ul li:nth-child(2) a::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}

ul li:hover a::before {
  height: 100%;
}

@media screen and (max-width: 768px) {
  ul {
    position: relative;
    display: flex;
    justify-content: center;
  }

  ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
  }

  ul li a {
    text-decoration: none;
  }

  ul li a .fa-brands {
    font-family: "FontAwesome";
    font-size: 1.5em;
    color: #928e8e;
  }

  ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
}
  
